/vue-lap/logs
/vue-lap/*.log
/vue-lap/npm-debug.log*
/vue-lap/yarn-debug.log*
/vue-lap/yarn-error.log*
/vue-lap/pnpm-debug.log*
/vue-lap/lerna-debug.log*

/vue-lap/node_modules
/vue-lap/.DS_Store
/vue-lap/dist
/vue-lap/dist-ssr
/vue-lap/coverage
/vue-lap/*.local

/vue-lap/cypress/videos/
/vue-lap/cypress/screenshots/

/vue-lap/.vscode/*
!/vue-lap/.vscode/extensions.json
/vue-lap/.idea
/vue-lap/*.suo
/vue-lap/*.ntvs*
/vue-lap/*.njsproj
/vue-lap/*.sln
/vue-lap/*.sw?

/vue-lap-com/logs
/vue-lap-com/*.log
/vue-lap-com/npm-debug.log*
/vue-lap-com/yarn-debug.log*
/vue-lap-com/yarn-error.log*
/vue-lap-com/pnpm-debug.log*
/vue-lap-com/lerna-debug.log*

/vue-lap-com/node_modules
/vue-lap-com/.DS_Store
/vue-lap-com/dist
/vue-lap-com/dist-ssr
/vue-lap-com/coverage
/vue-lap-com/*.local

/vue-lap-com/cypress/videos/
/vue-lap-com/cypress/screenshots/

/vue-lap-com/.vscode/*
!/vue-lap-com/.vscode/extensions.json
/vue-lap-com/.idea
/vue-lap-com/*.suo
/vue-lap-com/*.ntvs*
/vue-lap-com/*.njsproj
/vue-lap-com/*.sln
/vue-lap-com/*.sw?