/vue-lap/logs
/vue-lap/*.log
/vue-lap/npm-debug.log*
/vue-lap/yarn-debug.log*
/vue-lap/yarn-error.log*
/vue-lap/pnpm-debug.log*
/vue-lap/lerna-debug.log*

/vue-lap/node_modules
/vue-lap/.DS_Store
/vue-lap/dist
/vue-lap/dist-ssr
/vue-lap/coverage
/vue-lap/*.local

/vue-lap/cypress/videos/
/vue-lap/cypress/screenshots/

/vue-lap/.vscode/*
!/vue-lap/.vscode/extensions.json
/vue-lap/.idea
/vue-lap/*.suo
/vue-lap/*.ntvs*
/vue-lap/*.njsproj
/vue-lap/*.sln
/vue-lap/*.sw?